@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root{
    --color-main-black: #3e3e3e;
    --color-orange-main: #fe9519;
}

.givinghmw{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-orange-main);
    width: 123px;
    height: 49px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 127px;
}
.top{
    font-family: "Noto Sans KR";
    font-size: 15px;
    color: #ffffff;
    font-weight: normal;
    padding-left:20px;
}
.assignment_list_div{
    width: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}
.book_btn{
    display: flex;
    width: 35px;
    height: 35px;
}

.assignment_title{
        display: flex;
        font-family:"GmarketSansMedium";
        font-weight: normal;
        margin-left: 10px;
}
.list{
    display: block;
    flex-direction: column;
}
.title2{
    font-family: "Noto Sans KR";
    font-weight: 800;
}
.detail2{
    font-family: "Noto Sans KR";
}
.deadline{
    font-family: "Noto Sans KR";
    color: var(--color-orange-main);
}

.hwhtml, .hwgit, .hwjs, .java{
    display: flex;
    flex-direction: row;
    justify-content:  space-evenly;
    border: 1px solid #d9d9d9;
    width : 574px;
    height: 70px;
    border-radius: 8px;
    padding: 20px;
    margin:20px auto;
    align-items: center;
}