<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/main.css">
"</head>
<body>
    <div class="givinghmw">
        <p class="top">과제부여하기</p>
    </div>
    <div class="assignment_list_div">
        <img src="../../img/book-btn.png" alt="book_btn" class="book_btn">
        <h3 class="assignment_title">과제 목록</h3>
    </div>
    <div class="list">
        <div class="hwgit">
            <h4 class="title2">[과제 : 깃]</h4>
            <h5 class="detail2">repository 생성과 push</h5>
            <h5 class="deadline">3월 27일 월요일 19시까지</h5>
        </div>
        <div class="hwhtml">
            <h4 class="title2">[과제 : HTML & CSS]</h4>
            <h5 class="detail2">12기 멋사 LMS 페이지 따라하기</h5>
            <h5 class="deadline">4월 3일 월요일 19시까지</h5>
        </div>
        <div class="hwjs">
            <h4 class="title2">[과제 : JS]</h4>
            <h5 class="detail2">반응형 웹페이지 만들어보기</h5>
            <h5 class="deadline">3월 27일 월요일 19시까지</h5>
        </div>
        <div class="java">
            <h4 class="title2">[과제 : Java]</h4>
            <h5 class="detail2">클래스 속성을 이용해서 은행계좌 만들기</h5>
            <h5 class="deadline">3월 27일 월요일 19시까지</h5>
        </div>
    </div>

</body>
</html>